<!DOCTYPE html>
<html lang="en" xml:lang="en">
<head>
    <title>CV project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Philosopher" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ asset('magnific-popup.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/brands.min.css" integrity="sha512-OivR4OdSsE1onDm/i3J3Hpsm5GmOVvr9r49K3jJ0dnsxVzZgaOJ5MfxEAxCyGrzWozL9uJGKz6un3A7L+redIQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script defer src="{{ asset('magnific-popup.min.js') }}"></script>

    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script defer type="application/javascript">
            $(function() {
                $( document ).tooltip();
            });
        </script>
    {% endblock %}
</head>
<body>
<div class="offcanvas-menu-overlay"></div>
<div id="notification_area"></div>
<div id="loader-overlay"></div>


<!-- begin of body -->

<div id="preloder" style="display: none;">
    <div class="loader" style="display: none;"></div>
</div>

<header class="header-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="site-logo">
                    <h2><a href="#">Civic</a></h2>
                    <p>Enhance your online presence</p>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="hero-section spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero-text">
                            <h2>{{ portfolio.firstName ~ ' ' ~ portfolio.lastName }}</h2>
                            <p>{{ portfolio.introduction | raw }}</p>
                        </div>
                        <div class="hero-info">
                            <h2>General Info</h2>
                            <ul>
                                <li><span>Date of Birth</span>{{ portfolio.birthDate | date("Y/m/d") }}</li>
                                <li><span>Address</span>{{ portfolio.address }}</li>
                                <li><span>E-mail</span>{{ portfolio.email }}</li>
                                <li><span>Phone </span>{{ portfolio.phone }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <figure class="hero-image">
                            {% if portfolio.image is not null %}
                                {% set img = 'images/' ~ portfolio.image %}
                            {% else %}
                                {% set img = 'images/avatar.png' %}
                            {% endif %}
                            <img src="{{ asset(img) }}" alt="5">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="social-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <div class="social-link-warp">
                    <div class="social-links">
                        {% if portfolio.pinterest is not null %}<a href="{{ portfolio.pinterest }}"><span class="fa-brands fa-pinterest"></span></a>{% endif %}
                        {% if portfolio.linkedin is not null %}<a href="{{ portfolio.linkedin }}"><span class="fa-brands fa-linkedin"></span></a>{% endif %}
                        {% if portfolio.instagram is not null %}<a href="{{ portfolio.instagram }}"><span class="fa-brands fa-instagram"></span></a>{% endif %}
                        {% if portfolio.facebook is not null %}<a href="{{ portfolio.facebook }}"><span class="fa-brands fa-facebook"></span></a>{% endif %}
                        {% if portfolio.twitter is not null %}<a href="{{ portfolio.twitter }}"><span class="fa-brands fa-twitter"></span></a>{% endif %}
                    </div>
                    <h2 class="hidden-md hidden-sm">My Social Profiles</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="resume-section spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-7 offset-xl-2">
                <div class="section-title">
                    <h2>Work Experience</h2>
                </div>
                <ul class="resume-list">
                    {% for work in portfolio.workExperiences %}
                        <li>
                            <h2>{{ work.startDate | date('Y') }} - {% if work.endDate is not null %}{{ work.endDate | date('Y') }}{% else %} Present {% endif %}</h2>
                            <h3>{{ work.title }}</h3>
                            <h4>{{ work.post }}</h4>
                            <p>{{ work.description | raw }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="resume-section with-bg spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-7 offset-xl-2">
                <div class="section-title">
                    <h2>Education</h2>
                </div>
                <ul class="resume-list">
                    {% for education in portfolio.educations %}
                        <li>
                            <h2>{{ education.year }}</h2>
                            <h3>{{ education.title }}</h3>
                            <h4>{{ education.diplomaName }}</h4>
                            <p>{{ education.description | raw }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="review-section spad pb-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-7 offset-xl-2">
                <div class="section-title">
                    <h2>References</h2>
                </div>
                {% if portfolio.references is not empty %}
                <div class="review-slider owl-carousel owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                        <div class="owl-stage">
                            {% for reference in portfolio.references %}
                                <div class="owl-item">
                                    <div class="single-review">
                                        <div class="qut">“</div>
                                        <p>{{ reference.description | raw }}</p>
                                        <h3>{{ reference.author }}</h3>
                                        <h4>{{ reference.authorPost }}</h4>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<section class="extra-section spad pb-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-8 offset-xl-2">
                <div class="section-title">
                    <h2>Extra Skills</h2>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 pt-5">
                        <div class="fact-box trans">
                            <div class="fact-content">
                                <div class="circle-progress">
                                    <div id="progress1" class="prog-circle" data-value="{{ portfolio.enthusiasm | default(0)}}"></div>
                                    <div class="progress-info">
                                        <h2>{{ portfolio.enthusiasm | default(0) }}%</h2>
                                    </div>
                                    <div class="prog-title">
                                        <h3>Enthusiasm</h3>
                                        <p>Closest to perfection.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 pt-5">
                        <div class="fact-box trans">
                            <div class="fact-content">
                                <div class="circle-progress">
                                    <div id="progress2" class="prog-circle" data-value="{{ portfolio.englishLevel | default(0) }}"></div>
                                    <div class="progress-info">
                                        <h2>{{ portfolio.englishLevel | default(0) }}%</h2>
                                    </div>
                                    <div class="prog-title">
                                        <h3>English knowledge</h3>
                                        <p>Closest to perfection</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="fact-box">
                            <div class="fact-content">
                                <img src="{{ asset('build/images/x1.webp') }}" alt="">
                                <h2>{{ portfolio.yearsOfExperience | default(0) }}</h2>
                                <p>IT Years of Experience</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="fact-box">
                            <div class="fact-content">
                                <img src="{{ asset('build/images/x2.webp') }}" alt="">
                                <h2>{{ portfolio.awardsWon | default(0) }}</h2>
                                <p>Awards Won</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<footer class="footer-section">
    <div class="container text-center">
        <div class="copyright">
            Copyright © Eugeniu Nicolenco, this cv is made with <i class="fa fa-heart-o" aria-hidden="true"></i>
        </div>
    </div>
</footer>

<!-- end of body -->

<script>
    window.loaderTpl = `
                <div class="sk-chase">
                  <div class="sk-chase-dot"></div>
                  <div class="sk-chase-dot"></div>
                  <div class="sk-chase-dot"></div>
                  <div class="sk-chase-dot"></div>
                  <div class="sk-chase-dot"></div>
                  <div class="sk-chase-dot"></div>
                </div>
            `;
    window.overlay = $('#loader-overlay');
    function showLoader(speed = 'fast') {
        overlay.html(loaderTpl);
        overlay.fadeIn(speed);
    }

    function hideLoader(speed = 'slow') {
        overlay.html(null);
        overlay.fadeOut(speed);
    }

    showLoader();

    window.loaded = false;
    window.onload = () => {
        hideLoader();
        window.loaded = true;
    };
    setTimeout(() => {
        if (!window.loaded) {
            hideLoader();
        }
    }, 10 * 1000); // 10 secs
</script>

</body>
</html>
